[submodule "themes/hugo-blox-builder"]
	path = themes/hugo-blox-builder
	url = https://github.com/HugoBlox/hugo-blox-builder.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/kross"]
	path = themes/kross
	url = https://github.com/themefisher/kross-hugo
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/wowchemy/starter-hugo-academic.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
